.footer-container {
    background-color: #111;
    color: #f4f4f4;
    padding-top: 3rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 5% 3rem 5%;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    font-size: 2rem;
    color: #e0aa3e;
    margin-bottom: 1rem;
    font-weight: bold;
}

.footer-section p {
    font-size: 1rem;
    line-height: 1.7;
    color: #ccc;
}

.socials a {
    color: #f4f4f4;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.socials a:hover {
    color: #e0aa3e;
}

.footer-section h3 {
    color: #e0aa3e;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 0.8rem;
    transition: all 0.3s ease-in-out;
}

.footer-section.links a:hover {
    color: white;
    padding-left: 8px;
}

.contact-input {
    background-color: #222;
    color: #f4f4f4;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 0.8rem;
    width: 100%;
    margin-bottom: 1rem;
}

.footer-section .btn-primary {
    background-color: #e0aa3e;
    width: 100%;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-section .btn-primary:hover {
    background-color: #c8962b;
}

.footer-bottom {
    background-color: #000;
    color: #666;
    text-align: center;
    padding: 1.2rem 0;
    font-size: 0.9rem;
}